@import url("https://fonts.googleapis.com/css?family=Exo+2:200i");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Exo+2", sans-serif;
}

/* ローディング画面 */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

body.loaded .content {
  display: block;
}

/* トップ画面 */
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  min-height: 50vh;
}

/* this is mukuno ネオンサイン */
:root {
  font-size: 10px;
  --neon-text-color: rgb(247, 0, 255);
  --neon-border-color: #08f;
}

.top h1 {
  font-size: 8rem;
  font-weight: 200;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate,
    breathe 1000ms alternate infinite ease-in-out;
}

.top h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.top h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.top h1:focus {
  outline: none;
}

/* アニメーション　--トップネオンサイン*/
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

/* アニメーション --トップネオン縮小 */
@keyframes breathe {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.content h1,
p {
  color: #fff;
  font-size: 1.8rem;
  margin: 20px 0;
  animation: slide 2.8s ease-in 1;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #08f, 0 0 92px #08f,
    0 0 102px #08f, 0 0 151px #08f;
}

/* アニメーション --Pタグスライド */
@keyframes slide {
  0% {
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(0);
  }
}

/* フォームタグ 　--画像インプット・送信開始*/
.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ボタン */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  color: white;
  width: 550px;
  height: 64px;
  font-size: px;
  letter-spacing: 8px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: black;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 102px #08f, 0 0 151px #08f;
}

#neon-button-one {
  background-color: #fff;
  --color_1: rgba(1, 4, 5, 0.8);
  --color_2: rgba(84, 248, 255, 0.6);
  --color_3: rgba(84, 248, 255, 0.3);
  --color_4: rgba(84, 248, 255, 0);
  --color_5: rgba(0, 0, 255, 0.5);
  --color_6: rgba(0, 0, 255, 0);
  text-decoration: none;
  width: 550px;
  height: 64px;
  font-size: 18px;
  color: #555;
  letter-spacing: 8px;
  font-family: "Exo+2", serif;
  text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
    -1px 1px 2px transparent, 1px -1px 2px transparent,
    1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
    -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
    1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
    -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
  box-sizing: content-box;
  border-radius: 12px;
  box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
    0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
    0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
  animation: lights 1.4s linear;
  animation-fill-mode: forwards;
}

#neon-button-two {
  --color_1: rgba(1, 4, 5, 0.8);
  --color_2: rgba(84, 248, 255, 0.6);
  --color_3: rgba(84, 248, 255, 0.3);
  --color_4: rgba(84, 248, 255, 0);
  --color_5: rgba(0, 0, 255, 0.5);
  --color_6: rgba(0, 0, 255, 0);
  text-decoration: none;
  height: 64px;
  font-size: 12px;
  margin: 70px 0;
  color: #555;
  letter-spacing: 8px;
  font-family: "Exo+2", serif;
  text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
    -1px 1px 2px transparent, 1px -1px 2px transparent,
    1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
    -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
    1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
    -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
  box-sizing: content-box;
  border-radius: 12px;
  box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
    0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
    0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
}

#neon-button-two button {
  font-family: "Exo+2", serif;
  font-size: 30px;
  animation: lights 1.4s linear, slidein 5.5s ease-in 1, opa 5.5s ease 1;
  animation-fill-mode: forwards;
  transition: 0.8s;
}

/* アニメーション --送信ボタンスライド */
@keyframes slidein {
  0% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0);
  }
}

/* アニメーション --送信透明度 */
@keyframes opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#neon-button-two button:hover {
  background: #122eab;
  font-size: 35px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* アニメーション　--ネオンボタン */
@keyframes lights {
  0% {
    box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
      0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
    text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
      -1px 1px 2px transparent, 1px -1px 2px transparent,
      1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
    color: #555;
    border-color: #555;
  }

  2% {
    box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
      0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
    text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
      -1px 1px 2px transparent, 1px -1px 2px transparent,
      1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
    color: #555;
    border-color: #555;
  }

  3% {
    box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset,
      0 0 20px var(--color_2), 0 0 20px var(--color_2) inset,
      0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
    text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1),
      -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1),
      1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3),
      -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3),
      1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5),
      -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
    color: #fff;
    border-color: #fff;
  }

  5% {
    box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset,
      0 0 20px var(--color_2), 0 0 20px var(--color_2) inset,
      0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
    text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1),
      -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1),
      1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3),
      -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3),
      1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5),
      -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
    color: #fff;
    border-color: #fff;
  }

  6% {
    box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
      0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
    text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
      -1px 1px 2px transparent, 1px -1px 2px transparent,
      1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
    color: #555;
    border-color: #555;
  }

  12% {
    box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
      0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
    text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
      -1px 1px 2px transparent, 1px -1px 2px transparent,
      1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
    color: #555;
    border-color: #555;
  }

  13% {
    box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset,
      0 0 20px var(--color_2), 0 0 20px var(--color_2) inset,
      0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
    text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1),
      -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1),
      1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3),
      -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3),
      1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5),
      -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
    color: #fff;
    border-color: #fff;
  }

  14% {
    box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset,
      0 0 20px var(--color_2), 0 0 20px var(--color_2) inset,
      0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
    text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1),
      -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1),
      1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3),
      -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3),
      1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5),
      -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
    color: #fff;
    border-color: #fff;
  }

  17% {
    box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
      0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
    text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
      -1px 1px 2px transparent, 1px -1px 2px transparent,
      1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
    color: #555;
    border-color: #555;
  }

  40% {
    box-shadow: 0 0 4px transparent, 0 0 4px transparent inset,
      0 0 20px var(--color_4), 0 0 20px var(--color_4) inset,
      0 0 48px var(--color_6), 0 0 64px var(--color_6) inset;
    text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent,
      -1px 1px 2px transparent, 1px -1px 2px transparent,
      1px 1px 30px var(--color_4), -1px -1px 30px var(--color_4),
      -1px 1px 30px var(--color_4), 1px -1px 30px var(--color_4),
      1px 1px 50px var(--color_6), -1px -1px 50px var(--color_6),
      -1px 1px 50px var(--color_6), 1px -1px 50px var(--color_6);
    color: #555;
    border-color: #555;
  }

  41% {
    box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset,
      0 0 20px var(--color_2), 0 0 20px var(--color_2) inset,
      0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
    text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1),
      -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1),
      1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3),
      -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3),
      1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5),
      -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
    color: #fff;
    border-color: #fff;
  }

  100% {
    box-shadow: 0 0 4px var(--color_1), 0 0 4px var(--color_1) inset,
      0 0 20px var(--color_2), 0 0 20px var(--color_2) inset,
      0 0 48px var(--color_5), 0 0 64px var(--color_5) inset;
    text-shadow: 1px 1px 2px var(--color_1), -1px -1px 2px var(--color_1),
      -1px 1px 2px var(--color_1), 1px -1px 2px var(--color_1),
      1px 1px 30px var(--color_3), -1px -1px 30px var(--color_3),
      -1px 1px 30px var(--color_3), 1px -1px 30px var(--color_3),
      1px 1px 50px var(--color_5), -1px -1px 50px var(--color_5),
      -1px 1px 50px var(--color_5), 1px -1px 50px var(--color_5);
    color: #fff;
    border-color: #fff;
  }
}
